{{>header}}

    <div class="container">
    Kurucu:{{kurucu}} <br>
    Şirket:{{sirket}}
    </div>


    <div class="container">
        <div class="form my-5 d-flex">
            <input type="text" class="form-control" placeholder="Bir Bölge Giriniz" id="yer" >
            <button class="btn btn-primary" type="submit" id="tus">Göster</button>
        </div>
        <div class="text-left" id="sonuclar">
                
        </div>
    </div>



{{>footer}}